body {
  font-family: Outfit, sans-serif;
  background-color: hsl(212, 45%, 89%);
}
.container {
  background-color: hsl(0, 0%, 100%);
  width: 250px;
  height: 420px;
  margin: 100px auto;
  border-radius: 20px;
}
img {
  width: 230px;
  height: 260px;

  border-radius: 20px;
}
.container h2 {
  color: hsl(218, 44%, 22%);
  font-size: 16px;
}
.content {
  padding: 10px;
  text-align: center;
}
.content p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}
